{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <table>
        {% for product in products %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.title }}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.description}}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
